.top-bar{
    max-width: 1240px;
    margin: 0 auto;
    padding: 8px 0;
}

.logo-container{
    width: 100px;
}

.search-bar{
    padding: 8px 16px;
    width: 400px;
    border-radius: 2px;
    background-color: #fff;
}

.search-bar .search-icon{
    margin-right: 8px;
}

.search-bar .search-input{
    border: none;
    outline: none;
    flex-grow: 2;
    font-size: 14px;
    font-weight: 500;

}

.search-results{
    position: absolute;
    top: 44px;
    left: 19%;
    background: #fff;
    width: 78%;
    z-index: 999;
    max-height: 600px;
    overflow: auto;
}

.search-results .movie-name-container{
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-results .movie-name-container:hover{
    background-color: rgba(243,218,96,.4);
}
.search-results .movie-name-container .left-div{
    width: 12%;
}
.search-results .movie-name-container .right-div{
    width: 80%;
}


.search-results .movie-name-container .right-div .movie-name{
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0;
}

.search-results .movie-name-container .right-div .censor{
    font-size: 14px;
    font-weight: 400;
    color: #aaa7a7;
}

.nav-list-container{
}

.nav-items-list{
    color: #efefef;
    list-style: none;
    margin: 0;
}

.nav-items-list li{
    margin-right: 16px;
}

.nav-items-list .transparent-border-btn{
    border: 1px solid #ddd;
    background: transparent;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 3px;
}