.nav-bar{
    max-width: 1240px;
    margin: 0 auto;
    padding: 8px 0;

}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li{
    margin-right: 16px;
    font-size: 14px;
    font-weight: normal;
}

