.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.w-full{
  width: 100%;
}

.color-gray{
  color: #aaa7a7;
}

.color-white{
  color: #ffffff;
}

.on-hover-color-white:hover{
  color: #efefef;
}

.cursor-pointer{
  cursor: pointer;
}
