

.show{
  visibility: visible;
  opacity: 1;
}

.hide{
  visibility: hidden;
  opacity: 0;
}

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.relative{
  position: relative;
}

.w-full{
  width: 100%;
}

.color-gray{
  color: #aaa7a7;
}

.color-white{
  color: #ffffff;
}

.on-hover-color-white:hover{
  color: #efefef;
}

.cursor-pointer{
  cursor: pointer;
}

.btn.link{
  background-color: transparent;
  border: none;
  outline: none;
  color: #227dff;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.btn.link:hover{
  text-decoration: underline;
}


.slick-next:before, .slick-prev:before{
  font-size: 50px !important;
  line-height: 1;
  opacity: .75;
  color: #fff !important;
}

.slick-next{
  right: 10px !important;
  z-index: 11;
}

.slick-prev{
  left: 10px !important;
  z-index: 11;
}